body {
	margin:auto;
	border: 1px solid #777777;
	max-width:800px;
}
#header h1 {
	text-align:center;
	font-size:300%;
	padding:0px;
	margin:0px;
	/*font-family: 'Audiowide', cursive;*/
	color:white;
	background-color:black;

}
#navCanvas{
	padding:0px;
	margin:0px;
}