{% extends "templates/base.html" %}
{% block mainContent %}
<div class="pageComponent mainContent">
	<table>
		<tr>
			<td><h3>Wedding Ceremony</h3></td>
			<td><h3>Reception</h3></td>
		</tr>
		<tr>
			<td>
				Saturday, October first<br>Two thousand and eleven<br>Two thirty in the afternoon<br>Reid Park<br>Lake Street<br>Fontana, Wisconsin<
			</td>
			<td>
				Six o’clock in the evening<br>Evergreen Golf Course<br>N6246 US Hwy 12<br>Elkhorn, Wisconsin<br>
			</td>
		</tr>
	</table>
</div>
{% endblock %}