{% extends "templates/base.html" %}
{% block mainContent %}
	<div class="pageComponent">
		<h2>Page Examples</h2>
		<p>Here are some examples of pages hosted on Google App Engine, written in Python.</p>
		<p>
			<ul>
				<li><a href="http://exampwedding.appspot.com">Example Wedding Page</a>-Estimated Cost: $100</li>
				<li><a href="http://exampbusiness.appspot.com">Example Business Page (Under Construction) </a>-Estimated Cost: $120</li>
			</ul>
			<p>*Pages do not yet support mobile browsing well.</p>
		</p>
	</div>
{% endblock %}