{% extends "templates/base.html" %}
{% block mainContent %}
	<div class="pageComponent">
		<h2>Google Packages</h2>
		<h3>App Engine - Python</h3>
		<p>
			<ul>
				<li>Custom web page design and layout</li>
				<li>Base - $100</li>
				<li>$10 per additional page.</li>
				<li>FREE hosting on <i>yoursitename</i>.appspot.com</li>
				<li>$10 per year for custom Google Domain.</li>
				<li>You can also redirect from a domain you already own!</li>
				<li>Extra web addons negotiable</li>
			</ul>
		</p>
	</div>
{% endblock %}